<launch>

  <param name="/use_sim_time" value="true" />
 
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="world_name" value="$(find nao_gazebo)/worlds/naoFoot.world"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="version" default="V40" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

<include file="$(find nao_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="fake_execution" value="false"/> 
    <arg name="fake_execution_type" value="interpolate" />
  </include>


    <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/> 
    <rosparam param="source_list">[nao/joint_states]</rosparam>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro $(find nao_description)/urdf/nao$(arg version)_generated_urdf/nao_robot.xacro"/>   

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x -0.5 -y 1 -z 0.33 -model nao" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find nao_control)/config/nao_trajectory_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="/nao/joint_state_controller
      /nao/Head_controller /nao/RightArm_controller 
      /nao/LeftArm_controller /nao/RightFoot_controller
      /nao/LeftLeg_controller /nao/RightLeg_controller 
      /nao/RightHand_controller /nao/LeftHand_controller 
      /nao/Pelvis_controller /nao/LeftFoot_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/nao/joint_states" />
    </node>

</launch>
