<launch>

    
    <arg name="world_name" value="$(find nao_gazebo)/worlds/naoFoot.world"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="version" default="V40" />
    <arg name="robot_name"/>
    <arg name="init_pose"/>

    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(arg world_name)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
    </include>

    

    <param name="robot_description" command="$(find xacro)/xacro $(find nao_description)/urdf/nao$(arg version)_generated_urdf/nao_robot.xacro"/>
    <!-- complete robot model with base_footprint -->
    <node pkg="nao_description" type="base_footprint" name="base_footprint" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
       <param name="publish_frequency" type="double" value="50.0" />
    </node>
    <!-- Load PID values for joints -->
    <rosparam file="$(find nao_control)/config/nao_trajectory_control.yaml" command="load"/>

    <!-- Spawn NAO into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x -0.5 -y 1 -z 0.33 -model nao" />



</launch>
